*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 200vh;
    background-size: cover;
    background-position: center;
    background-image: url("photos/main-background.jpg");
    overflow: auto;
}

.header{

    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 450;
    pointer-events: none;

}

#nav-background{
    background-color: #488ebd;
    height: 25px;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #0e57b6ce;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

#portrait{
    clip-path: circle();
    height:250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#main-container{
    padding-top: 15em;
}

#main-text{
    padding-top: 5rem;
    font-weight: 500;
    font-size: 20px;
    margin: auto;
    width: 50%;
}

.container{
    margin-top: 400px;
}

#about-me-pic{
    float: left;
    width: 225px;
    height: 350px;
    margin-left: 60px;
    margin-right: 20px;
}

/* The "about-me" IDs serve as an anchor for when the user clicks on the navlinks */

#about-me-heading{
    margin: auto;
    text-align: center;
}

#about-me-skills{
    margin: auto;
    text-align: center;
}

#about-me-projects{
    margin: auto;
    text-align: center;
}

#about-me-contact{
    margin: auto;
    text-align: center;
}

#about-me-word{
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

/*Use for centering text */
#skills-text{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.skills-logo-temp{

    width: 175px;
    height: 170px;
    margin: 50px;
}
.row{
    margin: auto;
    width: 50%;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: #32a2ec;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #0665d1af;
  }
  
.mail-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 34%;
  }